.video {
  display: flex;
  align-items: center;
  border: 1px solid lightblue;
  margin-bottom: 0.2em;
  cursor: pointer;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
}

.title,
.channel {
  margin: 0;
}

.channel {
  font-size: 0.9rem;
}
