.container {
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  cursor: pointer;
  transition: transform 250ms ease-in;
  width: 50%;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
}

.title,
.channel {
  margin: 0;
}

.channel {
  font-size: 0.9rem;
}
